# --- Ambientes Virtuais e Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Distribuição e Build (PyInstaller) ---
build/
dist/
*.spec
*.manifest

# --- Pasta de Montagem e Instalador (Pesados) ---
Montagem_CSWin/
Instalador_*.exe

# --- Executáveis e Binários (Não subir pro GitHub) ---
*.exe
*.dll
*.so

# --- Configurações Locais e Logs ---
*.log
*.tmp
.vscode/
config.txt

# --- Lixo de Sistema Operacional (Windows/Mac) ---
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store